.ag-theme-alpine {
    /* font-family: cursive; */

    color: #485785 !important;
    --ag-header-background-color: #f5f5f552 !important;
    --ag-alpine-active-color: #378dfc !important;
    --ag-selected-row-background-color: rgba(72, 87, 133, 0.1);
}

.ag-theme-alpine,
.ag-header-row {
    color: #7b8ab8f9 !important;

}



.ag-theme-alpine,
.ag-theme-alpine-dark,
.ag-theme-alpine-auto-dark {

    --ag-background-color: transparent !important;
    --ag-border-color: transparent !important;
}